node_modules
.next
out
.git
.github
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
.DS_Store
*.md
!README.md
.vscode
.idea
*.tsbuildinfo
next-env.d.ts
README.md.bak
